<body>
  <!-- <div class="preloader" style="display: none">
      <div class="loader">
        <div class="ytp-spinner">
          <div class="ytp-spinner-container">
            <div class="ytp-spinner-rotator">
              <div class="ytp-spinner-left">
                <div class="ytp-spinner-circle"></div>
              </div>
              <div class="ytp-spinner-right">
                <div class="ytp-spinner-circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

  <!--====== PRELOADER PART ENDS ======-->

  <!--====== HEADER PART START ======-->

  <header class="header-area">
    <app-public-nav></app-public-nav>
    <!-- navbar area -->

    <!-- header hero -->
  </header>

  <!--====== HEADER PART ENDS ======-->

  <!--====== SERVICES PART START ======-->

  <!--====== SERVICES PART ENDS ======-->

  <!--====== ABOUT PART START ======-->

  <section id="about" class="about-area pt-70 pb-120">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div
            class="about-content mt-50 wow fadeInRightBig"
            data-wow-duration="1.3s"
            data-wow-delay="0.5s"
          >
            <div class="section-title">
              <h3 class="title">FAQs</h3>
               <!--<div class="font-weight-600">
                <p class="text font-weight-bold">
                  How Does 28X Club AI System Work ?
                </p>

                <ul class="ml-4 mt-2">
                  <li>
                    We connect you with promising startups in the digital asset
                    industry. We use these funds to trade and grow the
                    investment. The profits are then returned to you in USDT
                  </li>
                </ul>
              </div>
              <div class="font-weight-600">
                <p class="text font-weight-bold">What Is AI Trading?</p>

                <ul class="ml-4 mt-2">
                  <li>
                    It Is An Algorithmic Or Automated Trading, Is A Computerized
                    System That Allows Investors To Simplify The Investing
                    Process By Using Artificial Intelligence And Complex
                    Algorithms To Execute Trades And Manage Investments.
                  </li>
                </ul>
              </div>
              <div class="font-weight-600">
                <p class="text font-weight-bold">
                  What Makes 28X Club Different From Other Such Platforms?
                </p>

                <ul class="ml-4 mt-2">
                  <li>
                    We Are Focused On The Digital Asset Industry And Future
                    Financial Solutions. We Provide Access To A Range Of
                    Investment Opportunities That Are Not Available On Other
                    Platforms.
                  </li>
                </ul>
              </div>
              <div class="font-weight-600">
                <p class="text font-weight-bold">
                  How Do I Receive My Returns?
                </p>

                <ul class="ml-4 mt-2">
                  <li>
                    All The Benefits Automatically Credited To BINANCE Wallet.
                  </li>
                </ul>
              </div> -->
            </div>
            <!-- section title -->
          </div>
          <!-- about content -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </section>

  <!--====== ABOUT PART ENDS ======-->

  <!--====== DOWNLOAD PART START ======-->

  <!--====== DOWNLOAD PART ENDS ======-->

  <!--====== PART START ======-->

  <app-public-footer></app-public-footer>
</body>
