<body>
  <div class="preloader" style="display: none">
    <div class="loader">
      <div class="ytp-spinner">
        <div class="ytp-spinner-container">
          <div class="ytp-spinner-rotator">
            <div class="ytp-spinner-left">
              <div class="ytp-spinner-circle"></div>
            </div>
            <div class="ytp-spinner-right">
              <div class="ytp-spinner-circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--====== PRELOADER PART ENDS ======-->

  <!--====== HEADER PART START ======-->

  <header class="header-area">
    <app-public-nav></app-public-nav>

    <!-- navbar area -->

    <div id="home" class="header-hero bg_cover d-lg-flex align-items-center">
      <div class="shape shape-1"></div>
      <div class="shape shape-2"></div>
      <div class="shape shape-3"></div>
      <div class="shape shape-4"></div>
      <div class="shape shape-5"></div>
      <div class="shape shape-6"></div>

      <div class="container">
        <div class="row align-items-center justify-content-center justify-content-lg-between">
          <div class="col-lg-6 col-md-10">
            <div class="header-hero-content">
              <h3 class="header-title wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.2s" style="margin-bottom: -10px;">
                <h4 style="display: inline;">Build Your </h4>
                <span class="logo-color-purple-text">Assets</span>
              </h3>
              <h3 class="header-title wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.2s" style="margin-top: -10px;">
                <h4 style="display: inline;  margin-left: 55px;">Through </h4>
                <span>Digital Assets</span>
              </h3>

              <h3 class="wow fadeInLeftBig font-1-8 font-weight-800 text" data-wow-duration="1.3s" data-wow-delay="0.6s"
                style="margin-top: 30px;">Twenty-Eight X <span class="font-weight-400">(TEX)</span>
                <p>
                  The revolutionary that guides you for that
                </p>
              </h3>

              <ul class="d-flex" style="margin-top: -10px;">
                <li>
                  <a [routerLink]="['/dashboard']" rel="nofollow" class="main-btn wow fadeInLeftBig pt-3 pb-3"
                    data-wow-duration="1.3s" data-wow-delay="0.8s">Get Started</a>

                  <!-- <a
                    mat-flat-button
                    color="primary"
                    href="https://www.wrappixel.com/templates/spike-angular-admin-template/"
                    target="_blank"
                    class="d-flex justify-content-center"
                  >
                    Purchase Now
                  </a> -->
                </li>
              </ul>
            </div>
            <!-- header hero content -->
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-10">
            <div class="header-image">
              <img src="../../../../assets/images/header-app.png" alt="app" class="image wow fadeInRightBig"
                data-wow-duration="1.3s" data-wow-delay="0.5s" />
              <div class="image-shape wow fadeInRightBig" data-wow-duration="1.3s" data-wow-delay="0.8s">
                <img src="https://preview.uideck.com/items/appland/assets/images/image-shape.svg" alt="shape" />
              </div>
            </div>
            <!-- header image -->
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
      <div class="header-shape-1"></div>
      <!-- header shape -->
      <div class="header-shape-2">
        <img src="../../../../assets/images/header-shape-2.svg" alt="shape" />
      </div>
      <!-- header shape -->
    </div>
    <!-- header hero -->
  </header>

  <app-public-footer></app-public-footer>
</body>