<div
  class="blank-layout-container justify-content-center align-items-center bg-light-primary h-100"
>
  <div
    class="position-relative row w-100 h-100 bg-gredient justify-content-center page-content"
  >
    <div class="col-md-12 col-lg-4 d-flex align-items-center mt-4 ml-3">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/movies']">
              <img
                src="./assets/images/site/main-logo-transparent-bg.png"
                class="align-middle m-2 logo"
                alt="logo"
              />
            </a>
          </div>

          <div class="or-border m-t-30">Reset Password</div>

          <form
            role="form"
            class="m-t-30"
            [formGroup]="ResetCodeForm"
            (ngSubmit)="requestResetCode()"
            *ngIf="activeTab == activeTabConfig['codeRequestView']"
          >
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Email</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input
                matInput
                placeholder="Enter Email"
                type="text"
                formControlName="email"
                data-placement="top"
              />

              <mat-error
                *ngIf="
                  !ResetCodeForm.controls['email'].valid &&
                  ResetCodeForm.controls['email'].touched
                "
                >Valid email is required</mat-error
              >
            </mat-form-field>

            <button
              type="submit"
              mat-flat-button
              color="primary"
              class="w-100"
              [disabled]="!ResetCodeForm.valid"
            >
              Send Reset Email
            </button>
          </form>

          <form
            role="form"
            class="m-t-30"
            [formGroup]="passwordResetForm"
            (ngSubmit)="resetUserPassword()"
            *ngIf="activeTab == activeTabConfig['passwordRestView']"
          >
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Password Reset code</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input
                matInput
                placeholder="Enter Password Reset Code"
                type="text"
                formControlName="password_reset_code"
                data-placement="top"
              />

              <mat-error
                *ngIf="
                  !passwordResetForm.controls['password_reset_code'].valid &&
                  passwordResetForm.controls['password_reset_code'].touched
                "
                >Password Reset code is required</mat-error
              >
            </mat-form-field>

            <!-- password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Password</mat-label
            >

            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input
                matInput
                [type]="password_eye_icon ? 'text' : 'password'"
                formControlName="password"
                placeholder="enter password"
              />

              <i
                class="cursor-pointer font-0-9-5 fa"
                [ngClass]="{
                  ' fa-eye ': password_eye_icon,
                  ' fa-eye-slash ': !password_eye_icon
                }"
                aria-hidden="true"
                (click)="password_eye_icon = !password_eye_icon"
              ></i>

              <mat-error
                *ngIf="
                passwordResetForm.controls['password']?.errors?.['required'] &&
                passwordResetForm.controls['password'].touched
              "
                >Password is required</mat-error
              >
            </mat-form-field>

            <!-- Password validation icons -->
            <div
              class="mb-4 ml-1 password-validation-icons row"
              *ngIf="
              !passwordResetForm.controls['password']?.errors?.['required'] &&
              passwordResetForm.controls['password'].touched
            "
            >
              <div
                class="col-12 font-0-7-5 font-weight-500 mb-2 pl-0 text-gray-100"
              >
                password must be contain at least:
              </div>

              <div
                class="strong-password-error-div"
                [ngClass]="{
                  ' text-red ': !isLowerCaseValid(),
                  ' text-success  ': isLowerCaseValid(),
                }"
              >
                <i
                  class="strong-password-error-icon"
                  [ngClass]="{
                      'fas fa-solid fa-circle-xmark  ': !isLowerCaseValid(),
                      'fas fa-check-circle': isLowerCaseValid(),
                    }"
                ></i>
                <span class="strong-password-error-text"
                  >one lowercase letter</span
                >
              </div>

              <div
                class="strong-password-error-div"
                [ngClass]="{
                  ' text-red ': !isUpperCaseValid(),
                  ' text-success  ': isUpperCaseValid(),
                }"
              >
                <i
                  class="strong-password-error-icon"
                  [ngClass]="{
                      'fas fa-solid fa-circle-xmark  ': !isUpperCaseValid(),
                      'fas fa-check-circle': isUpperCaseValid(),
                    }"
                ></i>
                <span class="strong-password-error-text"
                  >one uppercase letter</span
                >
              </div>

              <div
                class="strong-password-error-div"
                [ngClass]="{
                  ' text-red ': !isNumberValid(),
                  ' text-success  ': isNumberValid(),
                }"
              >
                <i
                  class="strong-password-error-icon"
                  [ngClass]="{
                      'fas fa-solid fa-circle-xmark  ': !isNumberValid(),
                      'fas fa-check-circle': isNumberValid(),
                    }"
                ></i>
                <span class="strong-password-error-text"> one number</span>
              </div>

              <div
                class="strong-password-error-div"
                [ngClass]="{
                  ' text-red ': !isLengthValid(),
                  ' text-success  ': isLengthValid(),
                }"
              >
                <i
                  class="strong-password-error-icon"
                  [ngClass]="{
                      'fas fa-solid fa-circle-xmark  ': !isLengthValid(),
                      'fas fa-check-circle': isLengthValid(),
                    }"
                ></i>
                <span class="strong-password-error-text"
                  >minimum 8 characters</span
                >
              </div>
            </div>

            <!-- confirm password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Confirm Password</mat-label
            >

            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input
                matInput
                [type]="confirm_password_eye_icon ? 'text' : 'password'"
                formControlName="confirmPassword"
                placeholder="enter confirm password"
              />

              <i
                class="cursor-pointer font-0-9-5 fa"
                [ngClass]="{
                  ' fa-eye ': confirm_password_eye_icon,
                  ' fa-eye-slash ': !confirm_password_eye_icon
                }"
                aria-hidden="true"
                (click)="confirm_password_eye_icon = !confirm_password_eye_icon"
              ></i>

              <mat-error
                *ngIf="
                  passwordResetForm.get('confirmPassword')?.errors?.['isError'] &&
                  passwordResetForm.controls['confirmPassword'].touched
                "
              >
                Confirm password not match with the password</mat-error
              >
            </mat-form-field>

            <button
              type="submit"
              mat-flat-button
              color="primary"
              class="w-100"
              [disabled]="!passwordResetForm.valid"
            >
              reset password
            </button>
          </form>

          <span class="d-block f-w-500 text-center m-t-24"
            >Back to login

            <a
              [routerLink]="['/authentication/login']"
              class="text-decoration-none text-primary f-w-500 f-s-14"
            >
              Sign In</a
            >
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="loading">
  <div class="overlay__inner">
    <div class="overlay__content"><span class="loader"></span></div>
  </div>
</div>
