<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="mat-subtitle-2 f-s-14 f-w-600 d-block m-l-30">Summary</div>
      <div class="row col-12 d-flex m-0">
        <ng-container *ngIf="dataList?.length">
          <div
            class="col-md-3 col-sm-6 m-t-15 ml-0 film-card"
            *ngFor="let item of dataList; index as i"
          >
            <mat-card class="cardWithShadow mb-0">
              <mat-card-content class="p-0 pb-3">
                <div class="">
                  <img
                    [src]="item?.primaryImage?.imageUrl"
                    alt=""
                    class="w-100"
                  />

                  <mat-card-title
                    class="f-s-16 mat-mdc-card-title mb-3 ml-3 mt-2"
                    >{{ item?.originalTitleText?.text }}</mat-card-title
                  >
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="loading">
  <div class="overlay__inner">
    <div class="overlay__content"><span class="loader"></span></div>
  </div>
</div>
