<!-- <div class="row">
  <div class="col-12">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24" style="min-height: 80vh">
        <mat-card-title class="font-1-7 font-weight-600"
          >Welcome to Trading Sompnue
        </mat-card-title>
      </mat-card-content>
    </mat-card>
  </div>
</div> -->

<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <!-- <div class="m-t-30 mat-subtitle-2 f-s-14 f-w-600 d-block m-l-30">
        TEX Price Overtime
      </div> -->
      <div class="row col-12 d-flex m-1">
        <div class="col-md-12 col-sm-12 m-t-15 ml-0">
          <mat-card class="cardWithShadow overflow-hidden">
            <mat-card-header class="d-flex align-items-center p-x-24">
              <mat-card-title>TEX Price Overtime</mat-card-title>
              <!-- <div class="m-l-auto">
                <button mat-fab color="warn" class="shadow-none icon-48">
                  <i-tabler
                    name="currency-dollar"
                    class="text-white d-flex"
                  ></i-tabler>
                </button>
              </div> -->
            </mat-card-header>
            <mat-card-content
              class="m-b-32 p-x-24"
              *ngIf="
                salesChart?.series?.data?.length ||
                salesChart?.xaxis?.categories?.length
              "
            >
              <h4 class="mat-headline-5 mt-3 text-primary">
                {{ lastXTRPrice | currency : "TEX " : "symbol" : "1.2-2" }}
              </h4>
            </mat-card-content>

            <apx-chart
              *ngIf="
                salesChart?.series?.data?.length ||
                salesChart?.xaxis?.categories?.length
              "
              [series]="salesChart.series"
              [chart]="salesChart.chart"
              [xaxis]="salesChart.xaxis"
              [dataLabels]="salesChart.dataLabels"
              [grid]="salesChart.grid"
              [stroke]="salesChart.stroke"
              [title]="salesChart.title"
            ></apx-chart>

            <div
              class="no-data-comp"
              *ngIf="
                !salesChart?.series?.data?.length &&
                !salesChart?.xaxis?.categories?.length
              "
            >
              <i
                class="fa fa-exclamation-triangle mb-1 font-2-8 text-grey"
                aria-hidden="true"
              ></i>
              <div class="font-weight-bold text-grey">No Data</div>
            </div>
          </mat-card>
        </div>
      </div>

      <!-- Referral Summary -->
      <div class="mat-subtitle-2 f-s-14 f-w-600 d-block m-l-30">Summary</div>
      <div class="row col-12 d-flex m-0">
        <div class="col-md-3 col-sm-6 m-t-15 ml-0">
          <mat-card class="cardWithShadow mb-0">
            <mat-card-content class="">
              <mat-card-title class="f-s-14">Total Ref Count</mat-card-title>
              <div class="row mt-1">
                <div class="col-12">
                  <div
                    class="d-flex justify-content-between align-items-center small-text"
                  >
                    <p class="m-0">
                      {{
                        this.dashboardData["total_ref_count"] | number : "1.2-2"
                      }}
                    </p>
                    <button mat-fab color="accent" class="shadow-none icon-48">
                      <i-tabler
                        name="users"
                        class="text-white d-flex"
                      ></i-tabler>
                    </button>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-3 col-sm-6 m-t-15 ml-0">
          <mat-card class="cardWithShadow mb-0">
            <mat-card-content class="">
              <mat-card-title class="f-s-14">Direct Ref Count</mat-card-title>
              <div class="row mt-1">
                <div class="col-12">
                  <div
                    class="d-flex justify-content-between align-items-center small-text"
                  >
                    <p class="m-0">
                      {{
                        this.dashboardData["direct_referal_count"]
                          | number : "1.2-2"
                      }}
                    </p>
                    <button mat-fab color="primary" class="shadow-none icon-48">
                      <i-tabler
                        name="user"
                        class="text-white d-flex"
                      ></i-tabler>
                    </button>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-3 col-sm-6 m-t-15 ml-0">
          <mat-card class="cardWithShadow mb-0">
            <mat-card-content class="">
              <mat-card-title class="f-s-14">Total Investment</mat-card-title>
              <div class="row mt-1">
                <div class="col-12">
                  <div
                    class="d-flex justify-content-between align-items-center small-text"
                  >
                    <p class="m-0">
                      {{
                        this.dashboardData["total_investments_by_user"]
                          | currency : "TEX " : "symbol" : "1.2-2"
                      }}
                    </p>
                    <button mat-fab color="warn" class="shadow-none icon-48">
                      <i-tabler
                        name="building-bank"
                        class="text-white d-flex"
                      ></i-tabler>
                    </button>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-3 col-sm-6 m-t-15 ml-0">
          <mat-card class="cardWithShadow mb-0">
            <mat-card-content class="">
              <mat-card-title class="f-s-14">Total Earnings </mat-card-title>
              <div class="row mt-1">
                <div class="col-12">
                  <div
                    class="d-flex justify-content-between align-items-center small-text"
                  >
                    <p class="m-0">
                      {{
                        this.dashboardData["total_roi"]
                          | currency : "TEX " : "symbol" : "1.2-2"
                      }}
                    </p>
                    <button mat-fab color="primary" class="shadow-none icon-48">
                      <i-tabler
                        name="wallet"
                        class="text-white d-flex"
                      ></i-tabler>
                    </button>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <!-- ------------------------------------------------------------------------------------------------------ -->
    </div>
  </div>
  <!-- <app-loader *ngIf="loading"></app-loader> -->
</div>

<div class="overlay" *ngIf="loading">
  <div class="overlay__inner">
    <div class="overlay__content"><span class="loader"></span></div>
  </div>
</div>
