<div class="display-flex mb-3 mr-4 mt-3">
  <i
    class="fa fa-times ml-auto font-1-4 cursor-pointer"
    aria-hidden="true"
    data-toggle="tooltip"
    data-placement="top"
    title="Close"
    (click)="closeModel()"
  ></i>
</div>
<h1 class="font-1-6 header-title text-center mb-4">Book Movie</h1>

<div class="font-1 mb-4 pl-4 pr-4">
  <div class="row">
    <div class="col-5">
      <img
        src="https://lk-aps.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/transformers-one-et00005460-06-09-2024-05-51-05.jpg"
        class="w-100"
        alt=""
      />
    </div>

    <div class="col-7">
      <div class="form-wrapper">
        <form role="form" [formGroup]="rForm">
          <div class="mt-1">Transformers One</div>
          <div class="mt-1">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
              Seat Count<span class="required-icon">*</span></mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input
                matInput
                placeholder="Enter Seat Count"
                type="number"
                formControlName="seatCount"
                autocomplete="new-password"
                [readOnly]="verfication_code_sent"
              />

              <mat-error
                *ngIf="
            rForm.controls['seatCount']?.errors?.['required'] &&
                  rForm.controls['seatCount']?.touched
                "
                >Seat Count is required</mat-error
              >
              <mat-error
                *ngIf=" (rForm.controls['seatCount']?.errors?.['min'] ||
                rForm.controls['seatCount']?.errors?.['max']) &&
              rForm.controls['seatCount']?.touched"
              >
                Seat Count should be 1 to 100</mat-error
              >
            </mat-form-field>
          </div>

          <div class="mt-1">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
              Book Date<span class="required-icon">*</span>
            </mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input
                matInput
                [matDatepicker]="picker"
                placeholder="Select Book Date"
                formControlName="bookDate"
                autocomplete="off"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

              <mat-error
                *ngIf="
                  rForm.controls['bookDate']?.errors?.['required'] &&
                  rForm.controls['bookDate']?.touched
                "
              >
                Book Date is required</mat-error
              >
            </mat-form-field>
          </div>

          <button
            type="submit"
            mat-flat-button
            color="primary"
            class="w-100"
            (click)="handleWithdraw()"
            [disabled]="!rForm.valid"
          >
            proceed to checkout
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<app-loader *ngIf="loading"></app-loader>
